# Desafio Bootcamp Santander 
Utilizando ETL (EXTRACT, TRANSFORM AND LOAD)

# Disclaimer
No desafio deveria ser usado uma API, porém a mesma está dando erro com o servidor, logo será requisitado para o chatgpt que crie os dados em
formato CSV para realizar a leitura do arquivo

PEPILINE - > import pandas -> leitura do arquivo-> input pelo usuario do arquivo que ele necessita olhar -> input quais informações ele deseja ->

In [3]:
import pandas as pd

In [4]:
df = pd.read_csv('user_data.csv',sep=";", index_col=None)

df.info()
df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 9 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   user_id         3 non-null      object
 1   name            3 non-null      object
 2   account_id      3 non-null      object
 3   account_number  3 non-null      int64
 4   agency          3 non-null      int64
 5   account_limit   3 non-null      int64
 6   card_id         3 non-null      object
 7   card_number     3 non-null      object
 8   card_limit      3 non-null      int64
dtypes: int64(4), object(5)
memory usage: 348.0+ bytes

,user_id,name,account_id,account_number,agency,account_limit,card_id,card_number,card_limit
0,user_001,Queryn,acc_001,12345678,1,5000,card_001,1111-2222-3333-4444,10000
1,user_002,Dasherson,acc_002,87654321,2,7000,card_002,5555-6666-7777-8888,15000
2,user_003,Pivot,acc_003,56781234,3,6000,card_003,9999-0000-1111-2222,12000

In [5]:

dicionario_dados = df.to_dict(orient='list')

dicionario_dados

{'user_id': ['user_001', 'user_002', 'user_003'],
 'name': ['Queryn', 'Dasherson', 'Pivot'],
 'account_id': ['acc_001', 'acc_002', 'acc_003'],
 'account_number': [12345678, 87654321, 56781234],
 'agency': [1, 2, 3],
 'account_limit': [5000, 7000, 6000],
 'card_id': ['card_001', 'card_002', 'card_003'],
 'card_number': ['1111-2222-3333-4444',
  '5555-6666-7777-8888',
  '9999-0000-1111-2222'],
 'card_limit': [10000, 15000, 12000]}

In [6]:
def informe_solicitado(numero):
    informe_usuario={}
    for chave in dicionario_dados:
        valor_solicitado = dicionario_dados[chave]
        informe_usuario[chave]= valor_solicitado[numero-1]
    return informe_usuario

In [7]:
informe_solicitado(3)

{'user_id': 'user_003',
 'name': 'Pivot',
 'account_id': 'acc_003',
 'account_number': 56781234,
 'agency': 3,
 'account_limit': 6000,
 'card_id': 'card_003',
 'card_number': '9999-0000-1111-2222',
 'card_limit': 12000}

# Creditos vencidos na API, então será colocado as recomendações no chat em um arquivo csv e depois adicionados para a leitura aqui

In [8]:
recomendation = pd.read_csv('recomendacoes_financeiras.csv')
disc_recomendations = recomendation.to_dict()
disc_recomendations["3"]

{0: 'Recomendo uma conta digital com rendimento automático. Com um limite de conta de R$6.000 e cartão de R$12.000, Pivot pode otimizar seus recursos, ganhando rendimento sobre o saldo sem complicações, enquanto mantém acesso fácil e gratuito aos serviços bancários;'}

In [9]:
list_recomendation=[]
disc_recomendation = {}
for keys,numero in disc_recomendations.items():
    recomendation_dict=disc_recomendations[keys]
    for index in recomendation_dict.keys():
        list_recomendation.append(recomendation_dict[index])

Peguei os dados gerados e gerei valor com eles, agora preciso os carregar no dicionario padrão novamente

In [10]:
dicionario_dados

{'user_id': ['user_001', 'user_002', 'user_003'],
 'name': ['Queryn', 'Dasherson', 'Pivot'],
 'account_id': ['acc_001', 'acc_002', 'acc_003'],
 'account_number': [12345678, 87654321, 56781234],
 'agency': [1, 2, 3],
 'account_limit': [5000, 7000, 6000],
 'card_id': ['card_001', 'card_002', 'card_003'],
 'card_number': ['1111-2222-3333-4444',
  '5555-6666-7777-8888',
  '9999-0000-1111-2222'],
 'card_limit': [10000, 15000, 12000]}

In [11]:
for position in range (0,3):
    dicionario_dados["marketing"]=list_recomendation
dicionario_dados

{'user_id': ['user_001', 'user_002', 'user_003'],
 'name': ['Queryn', 'Dasherson', 'Pivot'],
 'account_id': ['acc_001', 'acc_002', 'acc_003'],
 'account_number': [12345678, 87654321, 56781234],
 'agency': [1, 2, 3],
 'account_limit': [5000, 7000, 6000],
 'card_id': ['card_001', 'card_002', 'card_003'],
 'card_number': ['1111-2222-3333-4444',
  '5555-6666-7777-8888',
  '9999-0000-1111-2222'],
 'card_limit': [10000, 15000, 12000],
 'marketing': ['Recomendo um cartão de crédito com cashback. Com um limite de R$10.000, Queryn pode aproveitar recompensas em compras do dia a dia, maximizando o valor do uso do cartão. Isso se alinha ao seu perfil, permitindo um gerenciamento eficiente do limite e incentivando gastos conscientes;',
  'Recomendo um empréstimo pessoal com taxa de juros baixa. Com um limite de conta de R$7.000 e um cartão de R$15.000, Dasherson pode usar essa opção para financiar projetos ou emergências, mantendo a flexibilidade financeira e evitando juros altos de crédito rotativo;',
  'Recomendo uma conta digital com rendimento automático. Com um limite de conta de R$6.000 e cartão de R$12.000, Pivot pode otimizar seus recursos, ganhando rendimento sobre o saldo sem complicações, enquanto mantém acesso fácil e gratuito aos serviços bancários;']}

Finalizou a parte de agregação de valor, agora como transformar isso em um dataframe de novo e um csv

In [12]:
df_final = pd.DataFrame(dicionario_dados)
df_final.head()

,user_id,name,account_id,account_number,agency,account_limit,card_id,card_number,card_limit,marketing
0,user_001,Queryn,acc_001,12345678,1,5000,card_001,1111-2222-3333-4444,10000,Recomendo um cartão de crédito com cashback. C...
1,user_002,Dasherson,acc_002,87654321,2,7000,card_002,5555-6666-7777-8888,15000,Recomendo um empréstimo pessoal com taxa de ju...
2,user_003,Pivot,acc_003,56781234,3,6000,card_003,9999-0000-1111-2222,12000,Recomendo uma conta digital com rendimento aut...

In [13]:
df_final.to_csv('projeto_final.csv', index=False,sep=";")

## Final do primeiro projeto do Curso de Ciência de dados da bolsa do santander da DIO

USANDO METODO QUERY

In [14]:
df_final.head()

,user_id,name,account_id,account_number,agency,account_limit,card_id,card_number,card_limit,marketing
0,user_001,Queryn,acc_001,12345678,1,5000,card_001,1111-2222-3333-4444,10000,Recomendo um cartão de crédito com cashback. C...
1,user_002,Dasherson,acc_002,87654321,2,7000,card_002,5555-6666-7777-8888,15000,Recomendo um empréstimo pessoal com taxa de ju...
2,user_003,Pivot,acc_003,56781234,3,6000,card_003,9999-0000-1111-2222,12000,Recomendo uma conta digital com rendimento aut...

In [15]:
df_final[df_final['account_limit']>=6000]

,user_id,name,account_id,account_number,agency,account_limit,card_id,card_number,card_limit,marketing
1,user_002,Dasherson,acc_002,87654321,2,7000,card_002,5555-6666-7777-8888,15000,Recomendo um empréstimo pessoal com taxa de ju...
2,user_003,Pivot,acc_003,56781234,3,6000,card_003,9999-0000-1111-2222,12000,Recomendo uma conta digital com rendimento aut...

In [19]:
df_final.query('account_limit >=6000')

,user_id,name,account_id,account_number,agency,account_limit,card_id,card_number,card_limit,marketing
1,user_002,Dasherson,acc_002,87654321,2,7000,card_002,5555-6666-7777-8888,15000,Recomendo um empréstimo pessoal com taxa de ju...
2,user_003,Pivot,acc_003,56781234,3,6000,card_003,9999-0000-1111-2222,12000,Recomendo uma conta digital com rendimento aut...

In [22]:
df_final.query('account_limit >=6000')[['name','account_id']]

        name account_id
1  Dasherson    acc_002
2      Pivot    acc_003